::-webkit-scrollbar-thumb {
  background: #898e8c;
  border-radius: 10px;
  border: 1px solid #aaa;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
  border: 1px solid #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #565959;
}

::-webkit-scrollbar-thumb:active {
}

::-webkit-scrollbar {
  width: 10px;
}

.vertical-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.selected {
  background-color: rgba(255,255,255,0.47) !important;
}

.character:hover {
  background-color: rgba(255,255,255,0.47);
}

.character, .p {
  background-color: rgba(0,0,0,0.27);
  font-family: 'Bilbo Swash Caps';
  font-weight: 100;
  color: white;
  font-size: larger;
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  border: 16px solid #b0aeae;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: loader 1s linear infinite;
}

.invert:hover {
  -webkit-filter: invert(20%) !important;
}

col-changelog .form-group .h3 {
  background-color: rgba(0,0,0,0.27);
  font-family: 'Bilbo Swash Caps';
  font-weight: 100;
  color: white;
  font-size: larger;
}

