/* * {

} */

.container {
	width: 25vw;
	min-height:100vh;
	display: flex;
	align-items: center;
	float: right;
	background-color: transparent;
}

.row {
	width: 100% !important;
	padding: 0px;
	margin: 0px;
}

.card {
	margin-top: 10px !important;
}